@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply m-0 p-0 w-full flex flex-col items-center justify-center;
  font-family: 'Nunito', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  height: 100vh;
}

.card {
  @apply shadow-2xl rounded-lg p-4 w-[300px] m-4 bg-indigo-50;

  h1 {
    @apply text-xl font-bold;
  }
}