@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply m-0 p-0 w-full flex flex-col items-center justify-center;
  font-family: 'Nunito', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  height: 100vh;
}